.elon{
    background-color: #ddd5;
    text-align: center;
    padding: 50px 0;
    &__title{
    padding: 30px 0;
        font-size: 48px;
    }
    &__wrapper{
        display: flex;
flex-wrap: wrap;
        gap: 10px;
    }
   
}

 .elon__card{
        width: calc(25% - 7.5px);
        text-align: left;
        background-color: white;
        margin-top: 20px;
        .card__title{
            font-size: 18px;
            font-weight: 700;
            margin: 25px 0 30px 0;
            padding: 0 10px;
        }
    }
    .navbar__icon{
        color:white;
        transition: 1s;
        font-size: 20px;
      
        &:hover{
color: red;
        }
    }
    .like{
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }
    .icon{
        color: gray;
        transition: 1s;
        font-size: 20px;
        &:hover{
color: red;
        }
    }

.card__item{
    padding: 0 10px ;
    color: rgb(26, 26, 26);
    font-size: 14px;
}








    

@media (max-width:992px) {
    .elon{
        &__wrapper{
            display: flex;
    flex-wrap: wrap;
            gap: 10px;
        }
    }
    .elon__card{
        margin-top: 20px;
        width: calc(50% - 5px);
    }

}





@media (max-width:440px) {
    .elon{
        &__title{
            padding: 20px 0;
                font-size: 30px;
            }
    }
}





